.footer {
    &__top {
      padding: 30px 0;
      background-color: $secondary-color-2;
    }
    &__row {
      display: flex;
      margin: 0 -15px;
    }
    &__column {
      padding: 20px 15px;
      flex: 0 1 20%;
      &:last-child{
        flex: 1 1 33.34%;
      }
    }
   
    &__label {
      color: $white;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
    &__bottom {
      padding: 20px 0;
    }
    &__social {
      display: flex;
      align-items: center;
    }
    
    &__copy {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #737373;
    }
    
  }
  .menu-footer {
    &__link {
      color: $white;
      letter-spacing: 0.2px;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
    }
    &__item:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  .contact-footer {
    display: flex;
    flex-direction: column;
    &__item {
      padding-left: 34px;
      display: flex;
      align-items: center;
      min-height: 30px;
      color: $white;
      font-size: 14px;
      line-height: 24px;
      &:hover {
        text-decoration: underline;
      }
    }
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
    &__item_phone {
      background: url("../images/content/phone.svg") left
        no-repeat;
    }
    &__item_map {
      background: url("../images/content/location.svg") left no-repeat;
    }
    &__item_email {
      background: url("../images/content/mail.svg") left no-repeat;
    }
  }
  .social {
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }